/* FONTS */

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v20-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/poppins-v20-latin-500.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins-v20-latin-600.woff2') format('woff2');
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: "Poppins", "Arial", sans-serif;
}

.site-main {
    flex-grow: 1;
}

img {
    vertical-align: middle;
}

.visually-hidden {
    position: fixed;
    transform: scale(0);
}

.container {
    width: 1210px;
    margin: 0 auto;
    padding: 0 20px;
}

/* HEADER STARTED */

.site-header {
    padding: 30px 0;
    background: #00040F;
}

.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-hoo {
    color: #FFF;
    margin-left: 4px;
}

.logo-bank {
    color: #5CE1E6;
}

.nav-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 56px;
}

.nav-link {
    text-decoration: none;
    color: #FFF;
    line-height: 130%;
}

/* HEADER ENDED */


/* HERO SSCTION STARTED */

.hero {
    padding: 187px 0 143px;
    background-color: #00040F;
    background-image: url("../images/hero-bg.png");
    background-repeat: no-repeat;
    background-position: calc(50% + 645px) -728px;
}

.discount {
    display: flex;
    width: 408px;
    padding: 4px 10px;
    margin-bottom: 12px;
    align-items: center;
    border-radius: 10px;
    background: -o-linear-gradient(315deg, #272727 0%, #11101D 100%);
    background: linear-gradient(135deg, #272727 0%, #11101D 100%);
}

.discount-img {
    margin-right: 15px;
}

.discount-text {
    margin: 0;
    color: rgba(255, 255, 255, 0.60);
    font-size: 17px;
    line-height: 150%;
}

.price {
    color: #FFF;
}

.hero-content {
    width: 670px;
    background-image: url("../images/get-started.svg");
    background-repeat: no-repeat;
    background-position: 450px 10px;
}

.hero-title {
    margin: 0;
    margin-bottom: 40px;
    color: #FFF;
    font-size: 72px;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: 0.72px;
}

.title-gradient {
    background: -o-radial-gradient(71.16% 35.69%, 64.33% 64.33%, #DEF9FA 0.89%, #BEF3F5 17.23%, #9DEDF0 42.04%, #7DE7EB 55.12%, #5CE1E6 71.54%, #33BBCF 100%);
    background: radial-gradient(64.33% 64.33% at 71.16% 35.69%, #DEF9FA 0.89%, #BEF3F5 17.23%, #9DEDF0 42.04%, #7DE7EB 55.12%, #5CE1E6 71.54%, #33BBCF 100%);
    background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}

.text-wrapper {
    width: 483px;
}

.hero-text {
    margin: 0;
    color: rgba(255, 255, 255, 0.70);
    font-size: 18px;
    line-height: 170%;
}

/* HERO SSCTION ENDED */

/* ARTICLE STARTED */

.prices {
    background: #00040F;
    padding: 5px;
}

.prices-list {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}

.value {
    display: flex;
    align-items: center;
    color:#FFF;
    font-size: 41px;
    font-weight: 600;
    line-height: 130%;
}

.value-text {
    margin-left: 26px;
    color:#33BBCF;
    font-size: 20px;
    line-height: 130%;
    text-transform: uppercase;
}

/* ARTICLE ENDED*/


/* BUSINESS SECTION FINISHED */

.business {
    padding: 180px 0 164px;
    background-color: #00040F;
}

.business-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.business-content {
    width: 622px;
}

.business-title {
    margin: 0;
    margin-bottom: 24px;
    color: #FFF;
    font-size: 48px;
    font-weight: 600;
    line-height: 160%;
    letter-spacing: 0.48px;
}

.business-desc {
    margin: 0;
    margin-bottom: 48px;
    color: rgba(255, 255, 255, 0.70);
    font-size: 18px;
    line-height: 170%;
    letter-spacing: 0.18px;
}

.hoobank-button {
    display: block;
    width: 170px;
    padding: 19px 0;
    border-radius: 10px;
    background: linear-gradient(180deg, #DEF9FA 0.89%, #BEF3F5 17.23%, #9DEDF0 42.04%, #7DE7EB 55.12%, #5CE1E6 71.54%, #33BBCF 100%);
    color: #00040E;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%; 
    text-decoration: none;
}

.business-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style-type: none;
}

.business-item {
    display: flex;
    width: 470px;
    padding: 20px;
    background: #00040F;
    border-radius: 20px;
}

.business-item:hover {
    background: linear-gradient(154deg, rgba(62, 60, 60, 0) 0%, #14101D 100%);
    box-shadow: 0px 20px 100px -10px rgba(60, 64, 79, 0.1);
}

.business-circle {
    width: 112px;
    height: 60px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(9, 151, 124, 0.10);
    border-radius: 100%;
}

.business-subtitle {
    margin: 0;
    margin-bottom: 8px;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.18px;
}

.business-subdesc {
    margin: 0;
    color: rgba(255, 255, 255, 0.70);
}

/* BUSINESS SECTION ENDED */


/* CARD SECTION FINISHED */

.cards {
    padding-bottom: 170px;
    background-color: #00040F;
}

.cards-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cards-content2 {
    flex-direction: row-reverse;
}

.cards-box {
    width: 470px;
}

.cards-box2 {
    width: 570px;
}

.cards-title {
    margin: 0;
    margin-bottom: 24px;
    color: #FFF;
    font-size: 48px;
    font-weight: 600;
    letter-spacing: 0.48px;
}

.cards-desc {
    margin: 0;
    margin-bottom: 48px;
    color: rgba(255, 255, 255, 0.70);
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0.18px;
}

.cards-link-wrapper {
    display: flex;
    gap: 32px;
}

/* CARD SECTION ENDED */


/* CUSTOMERS SECTION FINISHED */

.customers {
    background: #00040F;
    padding-bottom: 100px;
}

.customers-title-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 80px;
}

.title-wrapper {
    width: 470px;
    margin-right: 129px;
}

.customers-title {
    margin: 0;
    color: #FFF;
    font-size: 48px;
    font-weight: 600;
    line-height: 170%;
}

.desc-wrapper {
    width: 450px;
}

.customers-desc {
    margin: 0;
    color: rgba(255, 255, 255, 0.70);
    font-size: 18px;
    line-height: 180%;
    letter-spacing: 0.18px;
}


.customers-list {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    list-style-type: none;
}

.customers-item {
    width: 370px;
    padding: 60px 40px;
    background: #00040F;
    border-radius: 20px;
}

.customers-item:hover {
    border-radius: 20px;
    background: linear-gradient(154deg,#6D6D6D 57.81%, #11101D 93.23%);
    backdrop-filter: blur(5px);
}

.customers-item:nth-child(2) .customers-subdesc{
    margin-bottom: 56px;
}
.customers-doublequotes {
    margin-bottom: 40px;
}

.customers-subdesc {
    margin: 0;
    margin-bottom: 24px;
    color: #FFF;
    font-size: 18px;
    line-height: 180%;
    letter-spacing: 0.36px;
}

.customers-about {
    display: flex;
    align-items: center;
}

.customer-img {
    margin-right: 16px;
}

.customers-name,
.customers-job {
    margin: 0;
}

.customers-name {
    color: #FFF;
    font-size: 20px;
    line-height: 32px;
}

.customers-job {
    color: #FFF;
    opacity: 0.5;
}
/* CUSTOMERS SECTION ENDED */


/* LOGOS ARTICLE FINISHED */

.logos {
    background-color: #00040F;
    padding-bottom: 110px;
}

.logos-list {
    display: flex;
    gap: 100px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
/* LOGOS ARTICLE ENDED */


/* SERVICES ARTICLE FINISHED */

.services {
    background-color: #00040F;
    padding-bottom: 82px;
}

.services-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 72px 100px;
    border-radius: 20px;
    background: linear-gradient(154deg, #6D6D6D 57.81%, #222226 93.23%);
    backdrop-filter: blur(5px);
}

.services-content {
    width: 670px;
}

.services-title {
    margin: 0;
    margin-bottom: 24px;
    color: #FFF;
    font-size: 48px;
    font-weight: 600;
    line-height: 140%;
}

.services-desc-wrapper {
    width: 445px;
}

.services-desc {
    margin: 0;
    color: rgba(255, 255, 255, 0.70);
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0.18px;
}
/* SERVICES ARTICLE ENDED */


/* FOOTER FINISHED */

.site-footer {
    padding: 72px 0 30px;
    background-color: #000;
}

.footer-inner {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    border-bottom: 1px solid #3F3E45;
}

.footer-content {
    width: 312px;
}

.footer-desc {
    margin: 0;
    margin-top: 31px;
    color: rgba(255, 255, 255, 0.70);
    font-size: 18px;
    line-height: 32px;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.item-title {
    margin-bottom: 24px;
    color: #FFF;
    font-size: 18px;
    line-height: 150%; 
}

.footer-link {
    color: rgba(255, 255, 255, 0.70);
    line-height: 150%;
    text-decoration: none;
}

.footer-last-inner {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}

.footer-last-desc {
    margin: 0;
    color: rgba(255, 255, 255, 0.60);
    font-size: 18px;
    line-height: 150%;
}

.footer-last-list {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 20px;
    list-style-type: none;
}

/* FOOTER ENDED*/